.logo{
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.logo>img {
    height: 80px;
    width: 20%;
    background-color: black;
    background-position: center;
}
/*Botones navegacion*/

.nav{
    background-color: rgb(182,75,55);
    font-size: 11px;
}

.nav a:hover {
    background-color: bisque;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.nav-item>a {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: rgb(165, 120, 42);
}

/*imagen inicio*/

.imagen {
background-image: url(../assets/imagepanoram.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-top: 150px;
padding-bottom: 150px;
}

.color2, .color4 {
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: bisque;
    text-align: center;
    font-size: 12px;
}

.color4 {
    padding-bottom: none;
}
.color3 {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
}



/* Boton Reserva */

a.btn.btn-primary {
    background-color: rgb(182,75,55);
    color: white;
    border: 1px solid  rgb(182,75,55);
    margin-top: 20px;
}

div.d-grid.gap-2.col-6.mx-auto a:hover {
    background-color: rgb(165, 120, 42);
    font-weight: bold;
    border: 3px solid rgb(165, 120, 42);
    
}


/*LA CARTA EMPIEZA DESDE AQUI*/

h3, h5 {
    text-align: center;
    padding-top: 20px;
    box-sizing: content-box;
    width: 100%px;
    height: 40px;
}

.card>img {
    height: 150px;
}


.bg-primary {
    background-color: rgb(165, 120, 42) !important;
}

.card {
    border: 1px solid rgb(165, 120, 42);
}

.list-group-item {
    border: 1px solid rgb(165, 120, 42);
}

.menu {
    border: 5px solid rgb(165, 120, 42);
    text-align: center;
    list-style-position: inside;
}
.menu>p {
    padding-top: 50px;
    padding-bottom: 10px;
}



/* footer */
.color5 {
    background-color: rgb(165, 120, 42);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

div.color5>img {
    width: 20%;
    padding-top: 100px;
    box-sizing: content-box;
}












