 .color1 {
background-image: url(../assets/imagepanoram.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding-top: 200px;
padding-bottom: 200px;
 }

.color2, .color4 {
    padding-top: 20px;
    background-color: bisque;
    text-align: center;
    font-size: 12px;


}
.color3 {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}




.nav{
    background-color: rgb(182,75,55);
    font-size: 12px;
    
}
.nav a:hover {
    background-color: bisque;
    color: black;
    
}

.nav-item>a {
    color: white;

}

.nav-pills .nav-link.active {
    background-color: rgb(165, 120, 42);
}


.color5 {
    background-color: rgb(165, 120, 42);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    color: bisque;
    
}


a.btn.btn-primary {
    background-color: rgb(182,75,55);
    color: white;
    border: 1px solid  rgb(182,75,55);

}


img {
   width: 15%;
   
}

.logo{
    background-color: black;
    display: flex;
    justify-content: center;

}
.logo>img {
    height: 80px;
    width: 20%;
    background-color: black;
    background-position: center;
}
   








